{% extends 'home/basic.html' %}
{% load static %}
{% load tags %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'home/css/content.css' %}">
<link rel="stylesheet" href="{% static 'home/css/left_navbar.css' %}">
{% endblock stylesheet %}

{% block content %}
<div class="content_block">
<!--    {% load cache %}-->
<!--    {% cache 20 sidebar %}-->
<!--    {% block sidebar %}-->
    <div class="left_navbar">
        <h2>TABLE OF THE CONTENT</h2>
        <div id="alert">
           <a href="{% url 'registration' %}">Register</a> or <a href="{% url 'login' %}">Singin</a> 
        </div>
        {% if request.user.is_authenticated %}
            <div class="create_new_content"><a href="{% url 'create_topic' %}"><span>+</span>Add New Topic</a></div>
        {% else %}
            <div class="create_new_content"><a href="#alert"><span>+</span>Add New Topic</a></div>
        {% endif %}
        <div class="table_content">
            <!--            need to edit below line-->
            {% for category in categories %}
            {% if category.subcategory_set.count > 2 %}
                <ul class="category">
                    <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
                    <ul class="subcategory">
                {% for subcategory in category.subcategory_set.all %}
                    {% if subcategory.topic_set.count >= 1 %}
                        {% if slug == subcategory.slug %}
                            <li><a href="{{ subcategory.get_absolute_url }}" class="select">{{ subcategory }}</a></li>
                        {% else %}
                            <li><a href="{{ subcategory.get_absolute_url }}">{{ subcategory }}</a></li>
                        {% endif %}
                    {% endif %}
                        <ul class="topic">
                            {% for topic in subcategory.topic_set.all %}
                            {% if subcategory.topic_set.count > 1 %}
                                    <li><a href='{{ subcategory.get_absolute_url }}#{{ topic.slug }}'>{{ topic }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                {% endfor %}
                    </ul>
                </ul>
            {% endif %}
            {% endfor %}
        </div>
<!--        {% endblock sidebar %}-->
<!--        {% endcache %}-->
    </div>

    <div class="content">
        {% for topic in topics %}
        <section id="{{ topic.slug }}">
            <h2>{{ topic }}</h2>
           <!-- {% autoescape off %} -->
           <p>{{ topic.image }}</p>
            <p>{{ topic.description }}</p>
            <p>{{ topic.content }}</p>
            <p>{{ topic.html_content }}</p>
            <p>Created date: {{ topic.data }}</p>
            <p>Updated date:{{ topic.update_data }}</p>
            <p>Author: {{ topic.author }}</p>
       <!-- {% endautoescape %} -->
       </section>
        {% endfor %}

        <div class="paginator_block">
            {% if page_obj.has_other_pages %}
                {% if page_obj.has_previous  %}
                    <div class="previous"><a href='?page=1'> First </a></div>
                    <div class="previous"><a href="?page={{ topics.previous_page_number }}">&lt; </a></div>
                {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <div><a href='#' class="selected"> {{ num }} </a></div>
                {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                    <div><a href='?page={{ num }}'> {{ num }} </a></div>
                {% endif %}
            {% endfor %}

                {% if page_obj.has_next  %}
                    <div class="next"><a href="?page={{ page_obj.next_page_number }}">> </a></div>
                    <div class="next"><a href='?page={{ paginator.num_pages }}'> Last </a></div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
