{% extends 'home/basic.html' %}
{% load static %}
{% load tags %}
{% block home %}
<section class="description">
    <div class="max-w-600 bg-trans-grey home-title">
        
        <div class='dj-img'>
            <img src={% static "home/img/django.webp" %} style='width: 200px;height: 200px; border-radius: 100%;object-fit: cover;'>
        </div>
        <h1 class='text-f-50 code-font' style='margin: 30px'>Hello, there</h1>
        <div style='max-width: 550px; margin-left: 40px' class='code-font center-block'><span class='text-f-50 code-font text-bold text-larger'>Cheat Django</span> ontains all the cheat sheets that I have collected while learning web development. This was my first exposure to this framework and my first steps in the frontend. <br><br>This site should have everything that is mentioned in the manuals, but something has been removed due to inconsistency and out of date at the time of last reviewing.</div>
        <div class='get-started'>
            <a href='{% url 'blog' %}' class='btn btn-outline-primary text-f-50'>Get started</a>
        </div>
    </div>

    
    {% comment %} Search block {% endcomment %}
    {% comment %} <div class="block-center home-title-block">
        <div class='search-area flex'>
            <div class='home-django-img'>
                <img src='{% static "home/img/Get-Started-With-Django_Watermarked.jpg" %}' alt='django-img' class='django-img'>
            </div>
           
            <div class='search-content'>
                <p class='text-32px text-bold search-label'>Try to search for interesting topic:</p>
                <small>Not available for now</small>
                <input class='form-control' type='text' name='search' placeholder='search'>
            </div>
        </div>

    </div> {% endcomment %}
   
</section>




{% endblock home %}