<div class="left_navbar">
    <h2>TABLE OF THE CONTENT</h2>
    
    {% if request.user.is_authenticated %}
        <div class="create_new_content text-f-50"><a href="{% url 'create_topic' %}"><span>+</span>Add New Topic</a></div>
    {% else %}
        <div class="create_new_content"><a href="" onClick="alert('Please SingIn before adding new post')"><span>+</span>Add New Topic</a></div>
    {% endif %}

    
    <div class="table_content">
        
            <ul class="category">
                <li><a href="#">Django</a></li>
                <ul class="subcategory">
                    {% for subcategory, topics in content.items %}
                        <li><a href="{{ subcategory.get_absolute_url }}">{{ subcategory }}</a></li>

                        <ul class="topic">
                            {% for topic in topics %}
                                <li style='margin-left: 15px'><a href='{{ subcategory.get_absolute_url }}#{{ topic.slug }}'>{{ topic }}</a></li>
                            {% endfor %}
                        </ul> 
                    {% endfor %}
                </ul>
            </ul>                   
    </div>