.indent_p {
    margin-left: 40px;
}
h3, h4 {
    color: #f3670a;
    letter-spacing: 6px;
    font-size: 18px;
    margin-top: 80px;
    margin-bottom: 20px;
}
h2 {
    font-size: 26px;
    margin-top: 100px;
    margin-bottom: 40px;
}
h3 {
    font-size: 22px;
}

.content_block {
    display: flex;
}

div .content {
    width: 100%;
    min-width: 550px;
    padding: 0% 15% 2% 7%;
    margin-left: 30%;
}
.paginator_block {
    position: sticky;
    bottom: 10px;
    background-color: rgba(233, 231, 231, 0.805);
    border-radius: 15px;
    width: 600px;
    display: flex;
    width: fit-content;
    margin: 80px auto;
}
.paginator_block  a {
    display: block;
    margin: 8px;
    padding: 10px 15px;
    border: 1px solid #4c5670;
    border-radius: 50%;
}
.paginator_block  a:hover {
    color: #f3670a;
    border-color: #f3670a;
}
.paginator_block .selected {
    color: #f3670a;
    border-color: #f3670a;
}
.paginator_block > .next > a, div .content > .paginator_block > .previous > a {
    border-radius: 10px;
}



.description {
    width: 500px;
    margin: 20px auto;
    padding: 10px;
    border: 2px dotted #4c5670;
    border-radius: 5px;
    color: #4c5670;
}
.description > b {
    font-weight: normal;
    color: rgb(5, 31, 31);
}
.container {
    margin-bottom: 40px;
}

.author-details {
    font-size: smaller;
    color: grey;
    line-height: 5px;
}

@media only screen and (max-width: 1245px) {
  .content_block {
      margin: auto;
  }
  div .left_navbar {
      width: 200px;
  }
  pre {
      max-width: 500px;
  }
}