/* :root {
    touch-action: pan-x pan-y;
    height: 100% 
  } */



* {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #051f1f;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}


html, 
body {
    height:100%;
}
a:-webkit-any-link {
    text-decoration: none;
  }
p > a {
    color: #f3670a;
}

a {
    color: black
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

h2 {
  color: #f3670a;
  letter-spacing: 8px;
  font-size: 24px;
}

h1, h2, h3, h4 {
  text-align: center;
}
p {
    display: block;
    margin: 20px 0;
}
b {
    color: rgb(16, 70, 70);
}

hr {
    color: grey
}

.indent {
    margin-bottom: 50px;
    background-color: #e1e5ed00;
}

footer {
    position: sticky;
    bottom: 50px;
    
}
footer .footer {
    /* width: 400px; */
    margin: auto 70px;
    padding-top: 15px;
}


footer .footer p, footer .link ul a li {
    font-size: 16px;
    color: #333d4d;
}
footer .link ul a {
    margin: 0 10%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 500px;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}


pre {
    padding: 0 15px 20px 15px;
    margin: 0 auto 40px auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.787);
    line-height: 18px;
    border-radius: 5px;
    overflow-x: scroll;
}
code {
    width: fit-content;
    font-family: monospace;
    font-size: 14px;
}
p > code, .container > code, .border {
    display: inline-block;
    padding: 5px;
    margin: 0 auto 5px auto;
    border-radius: 5px;
    background-color: #e1e1e194;
}

.p > code {
    color: grey!important;
}

pre > code {
   color: #f6f6f0;
}
pre > code > b {
   color: #e84f5e;
   font-size: 16px;
}
.container > b {
    color: #f3670a;
}
.error, .success, .message_else {
    font-weight: 1000;
    display: block;
    text-align: center;
    text-decoration: underline;
}
.error {
    color: red;
}
.success {
    background-color: blue;
}
.message_else {
    background-color: grey;
}

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}


header {
    position: sticky;
    top: 0px;
    background-color: white;
    padding-bottom: 40px;
    padding-top: 20px;
}

@media (max-width: 675px) {
    header {
        position: initial !important;;
    }
    .home-title {
        height: 1000px!important;
    }
    .modal-content {
        width: 250px;
        font-size: 12px;
    }
    div .form > form {
        width: 100%!important;
    }
    div .form > h2 {
        font-size: 24px!important;
    }
}


.btn-outline-primary, .btn-primary {
    border-color: #f50;
}

.btn-primary {
    background-color: #f50;
}

.btn-primary:hover, .btn-outline-primary:hover {
    background-color: rgb(229, 76, 0);
    border-color: #f50;
}

.btn:focus,.btn:active, .form-control:focus, .form-control:active {
    outline: none !important;
    box-shadow: none;
 }

.text-f-50, .navbar-brand:hover {
    color: #f50
}

.text-bold {
    font-weight: 600;
}


.text-center {
    text-align: center;
}

.text-small {
    font-size: small;
}

.text-smaller {
    font-size: smaller;
}

.text-larger {
    font-size: large;
}

.text-32px {
    font-size: 32px!important;
}

.green {
    color: #92d197;
}
.grey {
    color: grey;
}



.max-w-600 {
    max-width: 600px;
}

.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}


.mb-50 {
    margin-bottom: 50px;
}

.my-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.center-block {
    margin: auto;
}

.flex {
    display: flex;
}



.form-control {
    height: 40px;
}

