
.home-title-block {
  background-color: #f3b65d;
  border-radius: 20px;
  width: inherit;
  bottom: 30px
} 

.home-title {
  margin: 50px auto;
}


.django-img {
  width: 55%;
  margin: 100px 0px 50px 50px;
}

.search-content {
  width: 100%;
  margin: auto 100px auto -250px;
}

.get-started {
  width: 200px;
  height: 40px;
  margin: 50px auto;
}

.get-started>a {
  width: 200px;
  font-size: large;
}

.search-label {
  color: rgb(30, 107, 80);
  font-weight: 900;
  letter-spacing: -1px;
}

.dj-img {
  width: fit-content;
  margin: 20px auto 50px auto;
}

.code-font {
  font-family: monospace;
}