/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    width: 10px;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }


div .left_navbar {
    overflow-y: scroll;
    height: 100%;
    padding: 20px;
    max-width: 350px;
    position: fixed;
}
.create_new_content {
    margin: 40px auto;
}
.create_new_content > a {
    font-size: 14px;
}
.create_new_content > a > span {
    margin-right: 10px;
    font-weight: 1000;
    padding: 1px 4px 0px 6px;
    color: #f3670a;
    border: 1px solid #f3670a;
    border-radius: 100%;
}
.table_content {
    margin-top: 30px;
}
.left_navba::-webkit-scrollbar {
  width: 5px;
}
.left_navbar > h2 {
    color: #104646;
}
.category > li > a {
    font-size: 22px;
}
.category {
    margin: 15px 10px;
}
.subcategory > li > a {
    font-weight: 600!important;
    color: #f3670a;
    font-size: 16px;
}
.subcategory {
    margin: 20px 0 30px 20px;
}
.topic > li > a {
    font-weight: 600!important;
    font-size: 14px;
    line-height: 35px;
    color: #4c5670;
}
.topic > li {
    list-style-type: circle;
}
.topic {
    margin: 5px 0 20px 20px;
}
.subcategory > li > a, .topic > li > a {
    font-weight: 600;
}
.select::before{
    color: #4c5670;
    content:">>>    ";
}
